.App{
  font-size: 20px;
  font-weight:normal;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.head-highlight{
  color: var(--main);
}

.blog-lines{
  width:100%;
  height: auto;
  object-fit: cover;
}

@media (max-width: 768px) {
  .bloglines-img-cont {
    overflow-x: hidden;
  }
  .blog-lines{
    width: 200%;
    height: auto;
    object-fit: cover;
  }
}

/* .page-container {
  border: none;
  outline: none;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.blog-section {
  flex-grow: 1;
  background-color: white;
  overflow-y: auto;
}

.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding: 20px;
  z-index: -1;
}

.blog-section::-webkit-scrollbar {
  width: 10px;
}
 */
